* {
    box-sizing:border-box;
    position:relative;
    margin:0;
    padding:0;
    font-family:sans-serif;
    font-weight:400;
    font-size:12px;
    color:#ccc;
    cursor:default;
    outline:none;
    user-select:none;
    transition:all ease-in-out 75ms;
}
html, body {
    height:100vh;
    overflow:hidden;
    background-color:#000;
	background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
}
h1 {
    display:block;
    margin-bottom:2px;
    font-size:14px;
    color:#fff;
}
.text-center {
    display:block;
    text-align:center;
}