.m-g {
  margin:$gutter;
}
.m-gh {
  margin:$gutter-half;
}
.m-gd {
  margin:$gutter-double;
}
.mt-g {
  margin-top:$gutter;
}
.mt-gh {
  margin-top:$gutter-half;
}
.mt-gd {
  margin-top:$gutter-double;
}
.mb-g {
  margin-bottom:$gutter;
}
.mb-gh {
  margin-bottom:$gutter-half;
}
.mb-gd {
  margin-bottom:$gutter-double;
}
.ml-g {
  margin-left:$gutter;
}
.ml-gh {
  margin-left:$gutter-half;
}
.ml-gd {
  margin-left:$gutter-double;
}
.mr-g {
  margin-right:$gutter;
}
.mr-gh {
  margin-right:$gutter-half;
}
.mr-gd {
  margin-right:$gutter-double;
}
// --
.p-g {
  padding:$gutter;
}
.p-gh {
  padding:$gutter-half;
}
.p-gd {
  padding:$gutter-double;
}
.pt-g {
  padding-top:$gutter;
}
.pt-gh {
  padding-top:$gutter-half;
}
.pt-gd {
  padding-top:$gutter-double;
}
.pb-g {
  padding-bottom:$gutter;
}
.pb-gh {
  padding-bottom:$gutter-half;
}
.pb-gd {
  padding-bottom:$gutter-double;
}
.pl-g {
  padding-left:$gutter;
}
.pl-gh {
  padding-left:$gutter-half;
}
.pl-gd {
  padding-left:$gutter-double;
}
.pr-g {
  padding-right:$gutter;
}
.pr-gh {
  padding-right:$gutter-half;
}
.pr-gd {
  padding-right:$gutter-double;
}